.body {
    overflow-x: hidden;
}
.bg-img{
    height: 60vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
top: 0;
left: 0;
z-index: -1;
}

.nav-link {
    color:white;
    font-size: 25px;
    }
    .otsikko {
        text-align: center;
    font-family: 'Brush Script MT', cursive;
    color:white;
    font-size:5vw;
    padding-top: 20px;
    }
    .header2 {
        font-size: 3vw;
        text-align: center;
        font-family: 'Brush Script MT', cursive;
        color: white
        
    }
    .header3 {
        margin-top: 39vh;
        margin-left: 16vw;
        font-family: 'Brush Script MT', cursive;
        color: green;
        font-size: 2.5vw;
    }
   table {
    margin-top: 8vh;
  max-width: 70vw;
margin-left: 15vw;
  font-family:'Brush Script MT', cursive; ;
}
.Englanti {
        font-family: 'Brush Script MT', cursive;
        color: green;
        margin-left: 16vw;
        margin-top: 8vh;
    }

.text-white {
    margin-top: 20vh;
}
   
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f9fb;
        transition: opacity 1.5s, visibility 1.5s;
    
    }
    .loader-hidden {
        opacity: 0;
        visibility: hidden;
    
    }
    
    .loader::after {
        content: "";
        width: 75px;
        height: 75px;
        border: 15px solid #dddddd;
        border-top-color: green;
        border-radius: 50%;
        animation: loading 0.75s ease infinite ;
    
    }
    
    @keyframes loading {
        from{
            transform: rotate(0turn);
        }
        to{
            transform: rotate(1turn);
        }
    }