.body {
    overflow-x: hidden;
}
.bg-img{
    height: 50vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
top: 0;
left: 0;
z-index: -1;
}
@media only screen and (max-width: 750px) {
    
    .bg-img {
        height: 40vh
    }
  
  }
 .kuva-container {
   margin-top: 60px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.kuva-text-container {
    text-align: center;
    max-width: 350px;
    margin: 10px auto;
    font-family: cursive;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    
    .header1 {
        text-align: center;
        font-family: 'Brush Script MT', cursive;
        color:white;
        font-size:6vw;
        padding-top: 40px;
    
    }
    .header2 {
        
        font-size: 3vw;
        text-align: center;
        font-family: 'Brush Script MT', cursive;
        color: white
        
    }
    .header3 {
       margin-top: 40vh;
        font-size: 3vw;
        margin-left: 12vw;
            
            font-family: 'Brush Script MT', cursive;
            color:green;
        
    }

   
    
    .teksti {
        white-space: nowrap;
        border: 1px solid green;
    }

    .terveiset1 {
        font-family: 'Brush Script MT', cursive;
        color:green;
        margin-top: 12vh;
        margin-left: 8vw;
        font-size: 1.5vw;
    }
   .terveiset2 {
    font-family: 'Brush Script MT', cursive;
    font-size: 0.9vw;
    padding-left: 8vw;
    padding-right: 35vw;
    margin-top: 2vh;
}
    .nav-link {
        color:white;
        font-size: 25px;
        }

       .img-fluid {
       padding-bottom: 30px;
    height: 220px;
}
    
  footer {
    margin-top: 20vh;
    font-family: 'Brush Script MT', cursive;
    font-size: 1vw;
}
@media only screen and (max-width: 950px) {
    
    .img-fluid {
        height:  135px;
    }

}

@media only screen and (max-width: 700px) {
    
    .img-fluid {
        height:  100px;
    }

}




.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 1.5s, visibility 1.5s;

}
.loader-hidden {
    opacity: 0;
    visibility: hidden;

}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: green;
    border-radius: 50%;
    animation: loading 0.75s ease infinite ;

}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}