


body {
  background-color: lightblue;
  
}

div{
border: 5px solid blue;
text-align: center;
}
h1 {
  color: blue;
  background-color:Red;
}
p {
  font-size: 20px;
}


.mylist {
border: 5px solid red;
border-radius:1000px;

}
.b {
style=list-style-type:square;
}

table, th, td {
  border:3px solid green;
}
table {
width:50%;
}




