body {
background-color: red;
font-size:20px
}

img {
border-radius:125px;
 width: 300px;
  height: 250px;
  border: 7px solid blue;
  background: #eee;
  margin: auto;
  padding: 15px 10px;
}
.mydiv{

font-family:Sans-serif;
text-align:center;
}
ul.myUL {
  display: inline-block;
  text-align: left;
}

