.header {
    text-align: center;
}

body {
    background-color:#B2B4B3;
}

.btn-primary{
    width: 27vw;
}
img {
    margin-top: 25vw;

}
.nappi {
    height: 155px;
    float:right;
    width: 110px;
  
}
.btn-primary{
margin-top: 10px;
margin-left: 8px;
}