body {
	text-align:center;
background-color:white;
}
.mydiv {
	background-color:#deb887;
 border: 7px solid gray;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 350px;
  margin-left: 350px;
box-shadow: 10px 10px 10px 10px lightgrey;
}


