body {
	text-align:center;
background-color:white;
}
.mydiv {
	background-color:#deb887;
 border: 7px solid gray;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 350px;
  margin-left: 350px;
box-shadow: 20px 20px 20px 20px lightgrey;
}

.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

