body {
	text-align:center;
background-color:white;
}
.mydiv {
	background-color:#deb887;
 border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 0px;
  margin-right: 350px;
  margin-left: 350px;

}